encryption = "age"
[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age1z0zjsduscqp4mlp6h3ezrnqzyxmuc0gewd8dp72w6w75lu8rs4qsf9t3fk"

[edit]
    command = "code"
    args = ["--wait"]
    apply = true
    
